.parallax .title-area p a {
  color: white !important;
  font-size: 1.5em;
}
hr.orange-bar {
  border-top: 3px solid #e17000;
  width: 120px;
}
.section-header .title-area h1 {
  font-size: 4.2em;
}
.section-header .title-area h3 {
  font-size: 2.25em;
}
.navbar-default {
  border-bottom: 2px solid #002b54;
}
.navbar-transparent {
  border-bottom: 1px solid transparent;
}
.card-info {
  box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border: 2px solid #0057ab;
}
.project {
  background-size: cover;
}
.project .content, .project .over-area {
  opacity: 1 !important;
}
.section-our-projects .project {
  height: 300px;
}
.section-our-projects .project .over-area {
  padding: 5% 8%;
}
.project h1 {
  text-shadow: 2px 2px 6px #002b54;
}
.project-board-member {
  margin-bottom: 30px;
}
.project-board-member .over-area h2{
  opacity: 0;
  -moz-transition: background-color 0.5s, opacity 0.5s 0.15s, -moz-transform 0.5s 0.15s;
  -webkit-transition: background-color 0.5s, opacity 0.5s 0.15s, -webkit-transform 0.5s 0.15s;
  transition: background-color 0.5s, opacity 0.5s 0.15s, transform 0.5s 0.15s;
}
.project-board-member .over-area:hover h2{
  opacity: 1;
}
.project .over-area {
  background: rgba(0,0,0, 0.25);
}
.project .over-area:hover {
  background: rgba(0,0,0, 0.6);
}
.section-our-projects {
  padding-top: 0;
}
.section-members {
  padding-bottom: 0;
}
