<footer class="footer footer-color-black">
  <div class="container">
    <div class="copyright pull-left">
      © 2017 <a class="text-white" href="http://fullerton.edu/"> California State University, Fullerton</a>: Association for Computing Machinery - Women
    </div>
    <div class="social-area pull-right">
      <a class="btn btn-social btn-facebook btn-simple" href="https://www.facebook.com/groups/acmwcsuf/" target="_blank">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a class="btn btn-social btn-twitter btn-simple" href="https://twitter.com/csuf_acmw" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="btn btn-social btn-youtube btn-simple" href="https://www.youtube.com/channel/UCj5WQhAfRThuDhsHoQ6ZAfw" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>
