<!doctype html>
{% extends "base.html" %}
{% block content %}
<div class="section section-header">
  <div class="parallax filter filter-color-blue">
    <div class="image" style="background-image:url({{ url_for('static', filename='img/TITANS-scenic.jpg') }})"></div>
    <div class="container">
      <div class="content">
        <div class="title-area">
          <p><a href="http://www.fullerton.edu/" target="_blank">California State University, Fullerton</a></p>
          <hr class="orange-bar"/>
          <h1 class="title-modern">ACM-W</h1>
          <h3>Association for Computing Machinery - Women</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h2>What we do</h2>
        <div class="separator separator-info">✻</div>
        <p>
          The Cal State Fullerton chapter of the <a class="text-primary" href="https://women.acm.org/" target="_blank">ACM-W </a><strong class="text-info">supports, celebrates, and advocates</strong> for the full engagement, education, and opportunities of women in all aspects of the computing field. We endeavor to provide a wide range of programs and services to students and advance, in the larger community, the contributions of technical women students.
        </p>
      </div>
      <div class="card card-blog card-plain card-info">
        <div class="content">
          <h2 class="card-title">Get Involved!</h2>
          <div class="line-divider line-warning"></div>
          <p class="text-gray">
            We hope you take the opportunity to unite with our club and further your experience and knowledge!</p>
            <p class="text-primary"><strong>Our general meetings are Tuesdays biweekly from 4:30 - 5:30 p.m.</strong></p>
            <p>We're always looking for new members and any volunteers are always welcomed! No membership fee is required, just your enthusiasm and interest. Thank you!</p>
            <a href="/contact.html" class="btn btn-fill btn-info">Sign up for Emails</a>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
