<!doctype html>
<nav class="navbar navbar-ct-primary navbar-fixed-top navbar-transparent" color-on-scroll="200">
  <div class="container">
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a href="/" class="navbar-brand">ACM-W Fullerton</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right navbar-uppercase">
        <li><a href="/about">About Us</a></li>
        <li><a href="/staff">Member Portfolios</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
