<!doctype html> {% extends "base.html" %} {% block content %} {% include "banner.html" %}
<div class="section">
  <div class="container">
    <div class="title-area">
      <h1 class="title">Creative Coding</h1>
      <div class="separator separator-warning">✻</div>
      <iframe width="674" height="350" src="https://www.youtube.com/embed/-62KfMj8KsY" frameborder="0" title="Creative Coding YouTube Video">Please update your web browser to view this video.</iframe>
      <p></p>
      <p> Creative Coding is a program designed by ACM and ACM-W members at California State University, Fullerton. The purpose is to introduce to girl scouts the many ways computer science can be applied to different devices. We've shown girl scouts how
        to write and understand code in various programming languages by utilizing Ozobots, Turtle Graphics, Google Cardboards, and Raspberry Pi's. Our objective is to get girl scouts more enthusiastic about STEM, especially Computer Science. </p>

      <div class="separator separator-warning">✻</div>
    </div>

    <div class="card card-plain card-blog">
      <div class="row">
        <div class="col-md-5">
          <div class="content">
            <h2>Ozobots</h2>
            <p class="text-gray">Ozobots are classified as "smart toys" and they are small electronics devices that can be customized. The robots can be programmed in two way, but we mainly have the girl scouts use only one method which is done through a very simple drag-and-drop program
            interface on a computer. The user can select the rules or controls and then it is activated by physically holding the Ozobots onto the screen as it reads the color instructions through it's sensors. This is to introduce to them the idea of creating
            functions/methods within a certain way of sequential logic and how it can be translated for machines to understand. Ozobots are a great way for beginners to see a physical interpretation of programming.</p>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <img src="/static/img/events/creativecoding1.jpg">
        </div>
      </div>
    </div>

    <div class="card card-plain card-blog">
      <div class="row">
        <div class="col-md-6">
          <img src="/static/img/events/creativecoding2.jpg" alt="creative coding photo">
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="content">
            <h2>Rasberry Pi</h2>
            <p class="text-gray">Jump into the world of Minecraft with Raspberry Pi that comes with a programming interface. Where you will learn to write commans and scripts in Python. The python code will then build things in the game automatically. It is a great way to learn how to program
              in Python and how to use Raspberry pi.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="title-area">
      <h1>See you at the next Creative Coding Event!</h1>
    </div>
  </div>
</div>
{% endblock %}
