<!doctype html> {% extends "base.html" %} {% block content %} {% include "banner.html" %}
<div class="section">
    <div class="container">
        <div class="title-area">
            <h1 class="title">Science Technology Engineer Mathematics</h1>
        </div>

        <div class="card card-plain card-blog">
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/img/events/stemexpolab.jpg">
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="content">
                        <h2>Lab tours</h2>
                        <p class="text-gray">60 Girl Scouts are able to get a hands on experience tour of the California State University STEM fields. Girls are able to go to differnt labs and spend their time with other students in majors such as Mechanical Engineers, Biochemists, Nurses and Physics just to name a few.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-plain card-blog">
            <div class="row">
                <div class="col-md-5">
                    <div class="content">
                        <h2>Exhibits</h2>
                        <p class="text-gray">In the Pavillion girls are able to explore differnt booths held by students and big companies such as google. Hands on material will be provided for the girls at every booth.</p>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <img src="/static/img/events/stemexpoexhibit.jpg">
                </div>
            </div>
        </div>


        <div class="title-area">
            <br></br>
            <h1>Join Us For Our Second STEM Expo</h1>
            <h5 class="card-category text-warning">October 15, 2017</h5>

        </div>
    </div>

    {% endblock %}
