<!doctype html> {% extends "base.html" %} {% block content %} {% include "banner.html" %}
<div class="section">
  <div class="container">
    <div class="title-area">
      <h1 class="title">Computer Science Diversity and Leadership Summit</h1>
      <div class="separator separator-warning">✻</div>
      <iframe width="674" height="350" src="https://www.youtube.com/embed/ESkN8w20hcU" frameborder="0" title="Creative Coding YouTube Video">Please update your web browser to view this video.</iframe>
      <p>The Computer Science and Diversity Summit aims to develop leadership skills through team-building activities, learn the components of a good team, diversity at the workplace through panels and speed mentoring. </p>
      <div class="separator separator-warning">✻</div>
    </div>


    <div class="card card-plain card-blog">
      <div class="row">
        <div class="col-md-5">
          <div class="content">
            <h2>Hear from professionals</h2>
            <p class="text-gray">Learn what an every day professional does, how they go through their day and what you should know going into the industry. Ask industry professionals and get answers in a group panel.</p>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <img src="/static/img/events/summit3.jpg" alt="professional leadership panel">
        </div>
      </div>
    </div>

    <div class="card card-plain card-blog">
      <div class="row">
        <div class="col-md-6">
          <img src="/static/img/events/summit2.jpg" alt="team building activity">
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="content">
            <h2>Team Building</h2>
            <p class="text-gray">Work in a group of other student leaders and complete tasks. Use your communication skills, previous experiences and put your minds together to complete tasks.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-plain card-blog">
      <div class="row">
        <div class="col-md-5">
          <div class="content">
            <h2>Speed mentoring</h2>
            <p class="text-gray">The speed mentoring section of the summit will focus on 2 on 1 mentoring, student leaders can ask industry professionals more pressing questions and learn from your fellow student leader.</p>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <img src="/static/img/events/summit5.jpg" alt="speed mentoring">
        </div>
      </div>
    </div>

    <div class="title-area">
      <h1>See you in 2018!</h1>
    </div>
  </div>
</div>
{% endblock %}
